@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: white;
  --background-end-rgb: white;
}

body {
  color: var(--foreground-rgb);
  background: white
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
}
